/* Mengimpor font Inter */
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap";

/* Reset dasar untuk memastikan tampilan bersih */
*, :before, :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Utilitas untuk fokus ring */
.focus\:ring-green-500\/30:focus {
    --tw-ring-color: rgb(34 197 94 / .3);
}

.disabled\:opacity-60:disabled {
    opacity: .6;
}

.group:hover .group-hover\:scale-110 {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1
}

/* Responsif untuk tampilan grid */
@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
